<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title, links, scripts)">
    <title th:replace="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" /> -->
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}" />

    <script th:src="@{/js/common.js}"></script>

    <link rel="stylesheet" th:href="@{/css/common.css}" />

    <th:block th:replace="${links}" />

    <th:block th:replace="${scripts}" />
</head>

<body>
    <header class="mb-3" th:fragment="header(breadcrumb)">
        <nav class="navbar navbar-expand-lg navbar-light bg-hawkesblue">
        </nav>
    </header>
    <div class="flex-grow-1 d-flex" th:fragment="content(value)" th:insert="${value}"></div>
    <footer th:fragment="footer" class="text-center mt-3"
        th:text="${'© ' + #temporals.year(#temporals.createToday()) + ' boot'}">&copy; 2022 boot</footer>
</body>

</html>